<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-3">Your Orders</h1>
      <p class="subtitle is-5">Here is a list of your past orders, including the total amount and applicable taxes. Click "View" to see more details.</p>
    </div>

    <div class="box">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Invoice Number</th>
            <th>Product Title</th>
            <th>Total</th>
            <th>Date Purchased</th>
            <th>GST</th>
            <th>PST</th>
            <th>HST</th>
            <th>QST</th>
            <th>Status</th> <!-- New status column -->
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @invoices.order(created_at: :desc).each do |invoice| %>
            <tr>
              <td><%= invoice.invoice_number %></td>
              <td>
                <% if invoice.order.order_items.present? && invoice.order.order_items.first.product.present? %>
                  <%= truncate(invoice.order.order_items.first.product.name, length: 30) %>
                <% else %>
                  <em>No Product Found</em>
                <% end %>
              </td>
              <td><%= number_to_currency(invoice.total) %></td>
              <td><%= invoice.created_at.strftime("%B %d, %Y %l:%M %p") %></td>
              <td><%= number_to_currency(invoice.gst) %></td>
              <td><%= number_to_currency(invoice.pst) %></td>
              <td><%= number_to_currency(invoice.hst) %></td>
              <td><%= number_to_currency(invoice.qst) %></td>
              <td style="
                <% if invoice.order.order_state == 'new_order' %>
                  background-color: blue; color: white;
                <% elsif invoice.order.order_state == 'paid' %>
                  background-color: green; color: white;
                <% elsif invoice.order.order_state == 'shipped' %>
                  background-color: yellow; color: black;
                <% else %>
                  background-color: gray; color: white;
                <% end %>
                padding: 0.2em 0.5em; border-radius: 4px;">
                <%= invoice.order.order_state.humanize %>
              </td>
              <td><%= link_to 'View', invoice_path(invoice), class: 'button is-small is-link' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
