<h1>Checkout</h1>

<%= form_with model: @order, local: true do |form| %>
  <div class="field">
    <%= form.label :address %>
    <div class="control">
      <%= form.text_field :address, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :province %>
    <div class="control">
      <%= form.text_field :province, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <div class="control">
      <%= form.text_field :postal_code, class: 'input' %>
    </div>
  </div>

  <h2>Order Summary</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <tr>
          <td><%= product.name %></td>
          <td><%= quantity %></td>
          <td>$<%= product.price * quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field">
    <div class="control">
      <%= form.submit 'Place Order', class: 'button is-primary' %>
    </div>
  </div>
<% end %>
