<h1>Checkout</h1>
<%= form_with(model: @order, local: true) do |f| %>
  <div class="field">
    <%= f.label :customer_name, 'Name' %>
    <%= f.text_field :customer_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :customer_email, 'Email' %>
    <%= f.email_field :customer_email, required: true %>
  </div>
  <div class="field">
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address, required: true %>
  </div>
  <div class="field">
    <%= f.label :city, 'City' %>
    <%= f.text_field :city, required: true %>
  </div>
  <div class="field">
    <%= f.label :province, 'Province' %>
    <%= f.select :province, options_for_select(['Province1', 'Province2', 'Province3']), required: true %>
  </div>
  <div class="field">
    <%= f.label :postal_code, 'Postal Code' %>
    <%= f.text_field :postal_code, required: true %>
  </div>
  <div class="field">
    <%= f.label :country, 'Country' %>
    <%= f.text_field :country, required: true %>
  </div>
  <div class="field">
    <%= f.submit 'Place Order', class: 'button is-primary' %>
  </div>
<% end %>
