<div class="columns">
  <!-- Sidebar Column -->
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
        <li><a href="<%= root_path %>">All Categories</a></li>
        <% @categories.each do |category| %>
          <li><a href="<%= category_path(category.card_type) %>"><%= category.card_type %></a></li>
        <% end %>
      </ul>
    </aside>
  </div>

  <!-- Products Column -->
  <div class="column is-four-quarters">
    <h1 class="title">Products</h1>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Products</a></li>
      </ul>
    </nav>

    <div class="control">
      <div class="select">
        <select>
          <option>Product Type</option>
          <option>Card Type</option>
          <option>Rarity</option>
        </select>
      </div>
      <button class="button">Clear Filters</button>
    </div>

    <div class="columns is-multiline is-centered">
      <% @products.each do |product| %>
        <div class="column is-one-quarter-desktop is-one-third-tablet">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <%= link_to image_tag(product.image_url, alt: product.name, style: "object-fit: contain; height: auto; width: 100%;"), product_path(product) %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                  <p class="subtitle is-6">Market Price: $<%= product.price %></p>
                </div>
              </div>
              <div class="content">
                <p><%= truncate(product.description, length: 100) %></p>
                <% if product.sale %>
                  <p class="has-text-danger">On Sale!</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <%= paginate @products %>
    </nav>
  </div>
</div>
