<div class="columns">
  <!-- Sidebar Column -->
  <div class="column is-one-quarter">
    <aside class="menu">
      <p class="menu-label">
        Categories
      </p>
      <ul class="menu-list">
        <li><a href="<%= root_path %>">All Categories</a></li>
        <% @categories.each do |category| %>
          <li><a href="<%= category_path(category.card_type) %>"><%= category.card_type %></a></li>
        <% end %>
      </ul>
    </aside>
  </div>

  <!-- Products Column -->
  <div class="column is-four-quarters">
    <h1 class="title">Products</h1>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page">Products</a></li>
      </ul>
    </nav>

    <div class="control">
    <div class="select">
      <select onchange="window.location.href=this.value;">
        <option value="<%= products_path(sort: 'alphabetical') %>" <%= 'selected' if params[:sort] == 'alphabetical' %>>Alphabetical</option>
        <option value="<%= products_path(sort: 'price_high_low') %>" <%= 'selected' if params[:sort] == 'price_high_low' %>>Price High-Low</option>
        <option value="<%= products_path(sort: 'price_low_high') %>" <%= 'selected' if params[:sort] == 'price_low_high' %>>Price Low-High</option>
      </select>
    </div>
    <%= link_to 'Clear Filters', products_path, class: 'button' %>
  </div>
  

    <div class="columns is-multiline is-centered">
      <% @products.each do |product| %>
        <%= render partial: 'product', locals: { product: product } %>
      <% end %>
    </div>  

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <%= paginate @products %>
    </nav>
  </div>
</div>

<%= link_to 'Cart', cart_path, class: 'button is-primary fixed-cart-button' %>
